.container
  %h2 Dane firmy:
  = form_for(@company) do |f|
    .form-group
    = f.label :company_name
    = f.text_field :company_name, autofocus: true, class: "form-control"

    .form-group
    = f.label :company_description
    = f.text_field :company_description, class: "form-control"