%html
  %head
    %title Cvon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if alert
      = render  '/layouts/warnings/alert'
    - elsif notice
      = render  '/layouts/warnings/notice'
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path} CVOn
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => root_path} Home
            %li
              %a{:href => new_user_session_path} Logowanie
            -unless user_signed_in?
              %li
                %a{:href => "#"} Rejestracja
                %ul
                  %li
                    %a{:href => new_employee_path} Pracownik
                  %li
                    %a{:href => new_company_path} Firma
            -if user_signed_in?
              -if current_user.role == "company"
                %li
                  =link_to "Oferty", jobs_path
                  %ul
                    %li
                      =link_to "Dodaj", new_job_path
                    %li
                      =link_to "Moje oferty", company_path(current_user.company_id)
                %li.stick-right
                  =link_to current_user.email, company_path(current_user.company.id)
              -elsif current_user.role == "employee"
                %li
                  =link_to "CV", "#"
                  %ul
                    -if current_user.employee.cv == nil
                      %li
                        =link_to "Dodaj CV", new_cv_path
                    -else
                      %li
                        =link_to "Moje CV", cv_path(current_user.employee.cv.id)
                      %li
                        =link_to "Edytuj", edit_cv_path(current_user.employee.cv.id)
                %li.stick-right
                  =link_to current_user.email, employee_path(current_user.employee.id)
        / /.nav-collapse
    %br/
    %br/
    = yield
